<div [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <lib-password-input formControlName="password"
                        [visible]="visible()"
                        required />
    <button matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="visibilityClicked()">
      <mat-icon matSuffix>{{visible() ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="form.invalid && form.touched">Password is invalid</mat-error>
    <mat-hint>Between 8 and 20 characters</mat-hint>
  </mat-form-field>

  <ul>
    <li>form invalid: {{form.invalid}}</li>
    <li>form touched: {{form.touched}}</li>
    <li>password invalid: {{form.controls['password'].invalid}}</li>
  </ul>
  <pre>{{form.errors | json}}</pre>
  <pre>{{form.controls['password'].errors | json}}</pre>
</div>