<mat-card class="outer-card"
          *ngIf="board">
  <mat-card-content>
    <mat-card-header>
      <!-- Slot for the handle -->
      <ng-content></ng-content>
      <mat-card-title>
        {{ board.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ board.id }}
      </mat-card-subtitle>
    </mat-card-header>
    <div class="tasks"
         cdkDropList
         cdkDropListOrientation="vertical"
         (cdkDropListDropped)="taskDrop($event)">
      <div class="inner-card"
           cdkDrag
           *ngFor="let task of board.tasks; let i = index"
           (click)="openTaskDialog(task, i)">
        <mat-card [ngClass]="task.label">
          <mat-card-content>{{ task.description }}</mat-card-content>
        </mat-card>
      </div>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button
            (click)="openTaskDialog()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button
            (click)="openEditDialog()">
      <mat-icon>edit</mat-icon>
    </button>
    <lib-delete-button (delete)="handleDelete()"></lib-delete-button>
  </mat-card-actions>
</mat-card>
